body {
  background-image: url('./image.jpg');
  background-size: cover;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #e1123e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f10742;
}
